.intro__button {
  margin: 62px auto 0;
  width: 360px;
  height: 64px;
  border: 1px solid #E1FD2C;
  background-color: inherit;
  color: #E1FD2C;
  font-size: 15px;
  line-height: 60px;
  letter-spacing: 1px;
  text-transform: uppercase;
  grid-column: 1;
}

@media screen and (max-width: 769px) {
  .intro__button {
    grid-row: 3;
    margin: 100px auto 0;
  }
}

@media screen and (max-width: 321px) {
  .intro__button {
    margin: 60px auto 0;
    width: 280px;
  }
}